/public/dev/js
/public/benchmark/js
/public/test/js
node_modules
.shadow-cljs
package-lock.json
/pom.xml
/target
.clj-kondo/.cache
.lsp/.cache
.cpcache

# clojure-lsp will automatically copy the following from resources to here at runtime
.clj-kondo/lilactown/helix/*
