{:paths ["src"]
 :deps {cljs-bean/cljs-bean {:mvn/version "1.5.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.66.1034"}
                               org.clojure/clojurescript {:mvn/version "LATEST"}}
                  :main-opts ["-m" "kaocha.runner"]}}}
