{:hooks   {:analyze-call {helix.core/$             clj-kondo.lilactown.helix/$
                          helix.core/defnc         clj-kondo.lilactown.helix/defnc
                          helix.dom/$d             clj-kondo.lilactown.helix/$
                          helix.dom/a              clj-kondo.lilactown.helix/$
                          helix.dom/abbr           clj-kondo.lilactown.helix/$
                          helix.dom/address        clj-kondo.lilactown.helix/$
                          helix.dom/area           clj-kondo.lilactown.helix/$
                          helix.dom/article        clj-kondo.lilactown.helix/$
                          helix.dom/aside          clj-kondo.lilactown.helix/$
                          helix.dom/audio          clj-kondo.lilactown.helix/$
                          helix.dom/b              clj-kondo.lilactown.helix/$
                          helix.dom/base           clj-kondo.lilactown.helix/$
                          helix.dom/bdi            clj-kondo.lilactown.helix/$
                          helix.dom/bdo            clj-kondo.lilactown.helix/$
                          helix.dom/big            clj-kondo.lilactown.helix/$
                          helix.dom/blockquote     clj-kondo.lilactown.helix/$
                          helix.dom/body           clj-kondo.lilactown.helix/$
                          helix.dom/br             clj-kondo.lilactown.helix/$
                          helix.dom/button         clj-kondo.lilactown.helix/$
                          helix.dom/canvas         clj-kondo.lilactown.helix/$
                          helix.dom/caption        clj-kondo.lilactown.helix/$
                          helix.dom/circle         clj-kondo.lilactown.helix/$
                          helix.dom/cite           clj-kondo.lilactown.helix/$
                          helix.dom/clipPath       clj-kondo.lilactown.helix/$
                          helix.dom/code           clj-kondo.lilactown.helix/$
                          helix.dom/col            clj-kondo.lilactown.helix/$
                          helix.dom/colgroup       clj-kondo.lilactown.helix/$
                          helix.dom/data           clj-kondo.lilactown.helix/$
                          helix.dom/datalist       clj-kondo.lilactown.helix/$
                          helix.dom/dd             clj-kondo.lilactown.helix/$
                          helix.dom/defs           clj-kondo.lilactown.helix/$
                          helix.dom/del            clj-kondo.lilactown.helix/$
                          helix.dom/details        clj-kondo.lilactown.helix/$
                          helix.dom/dfn            clj-kondo.lilactown.helix/$
                          helix.dom/dialog         clj-kondo.lilactown.helix/$
                          helix.dom/div            clj-kondo.lilactown.helix/$
                          helix.dom/dl             clj-kondo.lilactown.helix/$
                          helix.dom/dt             clj-kondo.lilactown.helix/$
                          helix.dom/ellipse        clj-kondo.lilactown.helix/$
                          helix.dom/em             clj-kondo.lilactown.helix/$
                          helix.dom/embed          clj-kondo.lilactown.helix/$
                          helix.dom/fieldset       clj-kondo.lilactown.helix/$
                          helix.dom/figcaption     clj-kondo.lilactown.helix/$
                          helix.dom/figure         clj-kondo.lilactown.helix/$
                          helix.dom/footer         clj-kondo.lilactown.helix/$
                          helix.dom/form           clj-kondo.lilactown.helix/$
                          helix.dom/g              clj-kondo.lilactown.helix/$
                          helix.dom/h1             clj-kondo.lilactown.helix/$
                          helix.dom/h2             clj-kondo.lilactown.helix/$
                          helix.dom/h3             clj-kondo.lilactown.helix/$
                          helix.dom/h4             clj-kondo.lilactown.helix/$
                          helix.dom/h5             clj-kondo.lilactown.helix/$
                          helix.dom/h6             clj-kondo.lilactown.helix/$
                          helix.dom/head           clj-kondo.lilactown.helix/$
                          helix.dom/header         clj-kondo.lilactown.helix/$
                          helix.dom/hr             clj-kondo.lilactown.helix/$
                          helix.dom/html           clj-kondo.lilactown.helix/$
                          helix.dom/i              clj-kondo.lilactown.helix/$
                          helix.dom/iframe         clj-kondo.lilactown.helix/$
                          helix.dom/img            clj-kondo.lilactown.helix/$
                          helix.dom/input          clj-kondo.lilactown.helix/$
                          helix.dom/ins            clj-kondo.lilactown.helix/$
                          helix.dom/kbd            clj-kondo.lilactown.helix/$
                          helix.dom/keygen         clj-kondo.lilactown.helix/$
                          helix.dom/label          clj-kondo.lilactown.helix/$
                          helix.dom/legend         clj-kondo.lilactown.helix/$
                          helix.dom/li             clj-kondo.lilactown.helix/$
                          helix.dom/line           clj-kondo.lilactown.helix/$
                          helix.dom/linearGradient clj-kondo.lilactown.helix/$
                          helix.dom/link           clj-kondo.lilactown.helix/$
                          helix.dom/main           clj-kondo.lilactown.helix/$
                          helix.dom/map            clj-kondo.lilactown.helix/$
                          helix.dom/mark           clj-kondo.lilactown.helix/$
                          helix.dom/mask           clj-kondo.lilactown.helix/$
                          helix.dom/menu           clj-kondo.lilactown.helix/$
                          helix.dom/menuitem       clj-kondo.lilactown.helix/$
                          helix.dom/meta           clj-kondo.lilactown.helix/$
                          helix.dom/meter          clj-kondo.lilactown.helix/$
                          helix.dom/nav            clj-kondo.lilactown.helix/$
                          helix.dom/noscript       clj-kondo.lilactown.helix/$
                          helix.dom/object         clj-kondo.lilactown.helix/$
                          helix.dom/ol             clj-kondo.lilactown.helix/$
                          helix.dom/optgroup       clj-kondo.lilactown.helix/$
                          helix.dom/option         clj-kondo.lilactown.helix/$
                          helix.dom/output         clj-kondo.lilactown.helix/$
                          helix.dom/p              clj-kondo.lilactown.helix/$
                          helix.dom/param          clj-kondo.lilactown.helix/$
                          helix.dom/path           clj-kondo.lilactown.helix/$
                          helix.dom/pattern        clj-kondo.lilactown.helix/$
                          helix.dom/picture        clj-kondo.lilactown.helix/$
                          helix.dom/polygon        clj-kondo.lilactown.helix/$
                          helix.dom/polyline       clj-kondo.lilactown.helix/$
                          helix.dom/pre            clj-kondo.lilactown.helix/$
                          helix.dom/progress       clj-kondo.lilactown.helix/$
                          helix.dom/q              clj-kondo.lilactown.helix/$
                          helix.dom/radialGradient clj-kondo.lilactown.helix/$
                          helix.dom/rect           clj-kondo.lilactown.helix/$
                          helix.dom/rp             clj-kondo.lilactown.helix/$
                          helix.dom/rt             clj-kondo.lilactown.helix/$
                          helix.dom/ruby           clj-kondo.lilactown.helix/$
                          helix.dom/s              clj-kondo.lilactown.helix/$
                          helix.dom/samp           clj-kondo.lilactown.helix/$
                          helix.dom/script         clj-kondo.lilactown.helix/$
                          helix.dom/section        clj-kondo.lilactown.helix/$
                          helix.dom/select         clj-kondo.lilactown.helix/$
                          helix.dom/small          clj-kondo.lilactown.helix/$
                          helix.dom/source         clj-kondo.lilactown.helix/$
                          helix.dom/span           clj-kondo.lilactown.helix/$
                          helix.dom/stop           clj-kondo.lilactown.helix/$
                          helix.dom/strong         clj-kondo.lilactown.helix/$
                          helix.dom/style          clj-kondo.lilactown.helix/$
                          helix.dom/sub            clj-kondo.lilactown.helix/$
                          helix.dom/summary        clj-kondo.lilactown.helix/$
                          helix.dom/sup            clj-kondo.lilactown.helix/$
                          helix.dom/svg            clj-kondo.lilactown.helix/$
                          helix.dom/table          clj-kondo.lilactown.helix/$
                          helix.dom/tbody          clj-kondo.lilactown.helix/$
                          helix.dom/td             clj-kondo.lilactown.helix/$
                          helix.dom/text           clj-kondo.lilactown.helix/$
                          helix.dom/textarea       clj-kondo.lilactown.helix/$
                          helix.dom/tfoot          clj-kondo.lilactown.helix/$
                          helix.dom/th             clj-kondo.lilactown.helix/$
                          helix.dom/thead          clj-kondo.lilactown.helix/$
                          helix.dom/time           clj-kondo.lilactown.helix/$
                          helix.dom/title          clj-kondo.lilactown.helix/$
                          helix.dom/tr             clj-kondo.lilactown.helix/$
                          helix.dom/track          clj-kondo.lilactown.helix/$
                          helix.dom/tspan          clj-kondo.lilactown.helix/$
                          helix.dom/u              clj-kondo.lilactown.helix/$
                          helix.dom/ul             clj-kondo.lilactown.helix/$
                          helix.dom/var            clj-kondo.lilactown.helix/$
                          helix.dom/video          clj-kondo.lilactown.helix/$
                          helix.dom/wbr            clj-kondo.lilactown.helix/$}}
 :lint-as {helix.core/defhook clojure.core/defn
           helix.core/fnc     clojure.core/fn}
 :linters {:helix/invalid-children {:level :error}}}
