{:deps true
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "assets/js"
        :modules {:main {:entries [helix.demo.ssr]}}
        :dev {:compiler-options {:output-feature-set :es6}}}}}
