# This is a basic workflow to help you get started with Actions
name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-and-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Setup Node.js environment
      uses: actions/setup-node@v1.4.4
      #with:
        # Set always-auth in npmrc
        #always-auth: # optional, default is false
        # Version Spec of the version to use.  Examples: 10.x, 10.15.1, >=10.15.0
        #node-version: # optional, default is 10.x
        # Optional registry to set up for auth. Will set the registry in a project level .npmrc and .yarnrc file, and set up auth to read in from env.NODE_AUTH_TOKEN
        #registry-url: # optional
        # Optional scope for authenticating against scoped registries
        #scope: # optional

    - name: Install dependencies
      run: npm install

    - name: Compile CLJS tests
      run: npx shadow-cljs compile ci
    
    - name: Run CLJS tests
      run: node target/ci.js
